*{
    scroll-behavior: smooth;
}
body {
    font-family: "Lato", sans-serif;
    /* background-color: #090132;
    color: #fff; */
    background-color: #efefef;
}
.no-scroll {
    overflow: hidden;
}
:root .dark {
    --background: #007;
    --text-color: #000;
    --text-color-alter: #fff;
    --btn-color: #7C3AED;
}
img {
    height: 100%;
    width: 100%;
}
section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: filter .6s;
}
.section-blur { 
    filter: blur(2px)
}
/*Modal imagenes*/
.modal-img {
    background-color: #0063a533;
    position: fixed;
    z-index: 10000000;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    opacity: 0;
    transition: opacity .3s;
}.modal-background {
    opacity: 1;
}
.modal-img-container {
    max-height: 65%;
    max-width: 85%;
    inset: 0;
    border: 2px solid #0063a533;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s;
}.modal-content-on {
    transform: scale(1);
}
.modal-img-container > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*Modal imagenes*/
/*menu mobile*/
.header {
    display: grid;
    grid-template-columns: 1fr;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.background-header {
    background-color: #efefefaa;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100vw;
    z-index: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.nav-responsive {
    background-color: #0063a533;
    font-size: large;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    transform: translateY(-100%);
    transition: transform .4s;
    z-index: 1000;
    top: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.nav-responsive-open {
    transform: translatey(0);
}
.nav-responsive-li {
    text-align: center;
    transform: scale(1);
    transition: transform .4s;
}.a-li {
    text-decoration: none;
}
.a-li > p {
    text-decoration: none;
    color: #fff;
    background: #0063a5;
    padding: 10px 5px;
    border-radius: 10px;
    width: 230px;
    border: 2px solid #0063a533;
}
.nav-responsive-li:active {
    transform: scale(.7);
}
.btn-open-menu, .btn-close-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    transition: transform .6s;
    padding: 20px;
    z-index: 1000;
}
.open {
    transform: scale(1);
}
.close {
    transform: scale(0);
}
.img-menu {
    height: 30px;
    width: 30px;
}

/*menu mobile*/


/*menu*/
.nav {
    display: none;
}

.title-container {
    display: flex;
    align-items: center;
    padding: 15px;
    z-index: 100;
}
.title-container a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.img-logo {
    width: 60px;
}
/*menu*/

/*modal materiales*/
.modal-plantillas {
    background-color: #0063a533;
    height: 103vh;
    width: 100vw;
    z-index: 100000;
    position: fixed;
    transform: translateY(-90px);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    opacity: 0;
    transition: opacity .3s;
}.open-modal{
    opacity: 1;
}
.plantilla-content {
    border-radius: 10px;
    height: 85vh;
    width: 85%;
    min-width: 340px;
    background-color: #efefef;
    padding: 10px;
    overflow: scroll;
    gap: 30px;
    display: flex;
    flex-direction: column;
    transition: transform .4s;
    transform: scale(0);
}
.open-pla-content {
    transform: scale(1);
}
.close-modal {
    position: fixed;
    height: 35px;
    top: 28px;
    right: 8px;
    filter: invert(100%);
    transition: transform .4s;
    transform: scale(0);
    margin: 3px;
}
.anim-close {
    transform: scale(1);
}
.img-modal-container {
    min-width: 260px;
    min-height: 260px;
    max-width: 400px;
    max-height: 500px;
    /* actualizar en cada aumento de px */
    width: 295px;
    height: 295px;
    display: flex;
    margin: auto;
    position: relative;
}
#img-glider-modal {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background .4s;
}
/* .img-glider-modal > img {
    object-fit: cover;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
} */
.glider { 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glider-contain > button{
    padding:  10px 15px;
    border-radius: 10px;
    border: none;
    color: #fff;
    transform: scale(1);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    width: 45px;
    font-size: 28px;
    background-color: #00000067;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    transition: transform .3s;
    -webkit-transition: -webkit-transform 300ms;
    -webkit-backdrop-filter: blur(10px);
}.glider-contain > button:active {
    transform: scale(0.9);
}
#prevButton {
    border: 2px solid #a09696;
}#nextButton {
    border: 2px solid #a09696;
    right: 0;
}
#dotsContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    background-color: #cfcfcf33;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
.dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    -webkit-transition: -webkit-background 600ms;
    transition: background .6s;
}

.active { 
    background-color: #333;
} 


.button-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}.button-modal a {
    padding: 10px;
    border: 2px solid #444;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}.btn-modal-whatsapp {
    background-color: #25D366;
    color: #fff;
}.btn-modal-mercadolibre {
    background-color: #FFE600;
    color: #000;
}
.contact-modal-buttons {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}
.contact-modal-buttons > a {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 61px;
    font-size: 9px;
    color: #fff;
    border-radius: 10px;
    padding: 4px;
    text-decoration: none;
}.contact-modal-buttons > a > img{
    filter: invert(1);
}
/*modal materiales*/


/*boton flotante*/
.btn-whatsapp-fixed {
    background-color: #25D366;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 40px 10px;
    padding: 5px;
    z-index: 15;
    transform: translateX(200px);
    transition: transform 0.5s ease;
    border: 2px solid #444;
    border-radius: 10px;
}
.btn-whatsapp-fixed:active {
    transform: scale(.7);
}
.move-btn {
    transform: translateX(0);
}
.btn-whatsapp-fixed > a { 
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    color: #fff;
    text-decoration: none;
}
.btn-whatsapp-fixed > a > img {
    filter: invert(1);
}
/*boton flotante*/


/*Presentacion*/

h1 {
    color: #FFF;
    text-align: center;
}
.presentacion {
    background-position: center;
    background-size: cover;
    height: 75vh;
    position: relative;
}
.background-1 {
   transition: background .4s;
}
.background-1::before {
    content: " ";
    inset: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0009;
}.background-1::after {
    content: " ";
    inset: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent 5%, 
    rgba(0, 0, 0, 0)50%,
    rgba(0,0,0) 99.9%);
}


.sobre-nosotros {
    background-color: #000;
    color: #fff;
    
}.sobre-nosotros > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.presentacion-content {
    z-index: 20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.text {
    margin: 10px;
    font-size: 1rem;
}
.presentacion > .text {
    text-align: center;
}
.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.btn-accion {
    padding: 10px 20px;
    background-color: #7C3AED;
    border-radius: 15px;
    font-size: .8rem;
    text-decoration: none;
    text-align: center;
    border: 2px solid #0000;
    color: #fff;
    width: 45%;
    transition: transform .5s;
}

.btn-accion:active{
    transform: scale(.7);
}

.img-sample {
    /* background-image: linear-gradient(#0000 70%, #000); */
    filter: drop-shadow(#000 8px 12px 7px);
    margin: auto;
    width: 85%;
}/*Presentacion*/


/*Barra de busqueda*/
.serch-section {
    padding: 0;
}
.serch-container {
    background-color: #000;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.filter, .btn-serch {
    background-color: #000;
    width: 40px;
    height: 40px;
    border: 2px solid #555;
}.filter > img, .btn-serch > img {
    filter: invert(1);
}
#bar-serch {
    height: 40px;
    width: 65%;
    border: 2 px solid #555;
    transition: background .3s border .3s;
}
#bar-serch:focus {
    background-color: #ccc;
}
/*Barra de busqueda*/

.data-cartas {
    background-color: red;
}

/*pruebas xdddd*/
.items {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#search-bar {
    margin-bottom: 20px;
    display: none;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: scroll;
    scrollbar-width: none;
    padding: 10px;
}

.card {
    border-radius: 8px;
    min-width: 250px;
    max-height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: #0009 0px 0px 10px;
    padding: 10px;
    gap: 5px;
}

.img-container {
    border-radius: 8px;
    object-fit: contain;
}

.card button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.card button:hover {
    background-color: #0056b3;
}
/*pruebas xdddd*/

/*promociones*/
.promociones {
    display: flex;
    gap: 20px;
    position: relative;
}
.promocion-mensual {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    max-width: 700px;
    max-height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.promocion1 {
    background-image: url('../multimedia/images/promociones/1.png');
}
.promocion1::before, .promocion2::before{
    content: " ";
    inset: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0009;
}
.promocion2 {
    background-image: url('../multimedia/images/promociones/2.png');
}
.promocion-mensual > div {
    position: relative;
    z-index: 10;
    background-color: #0063a533;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 75%;
    min-height: 150px;
    height: 150px;
    max-height: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid #0063a533;
}.promocion-mensual > div > p {
    margin: 20px 0;
}.promocion-mensual > a {
    position: relative;
    z-index: 10;
    background-color: #25D366;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    max-width: 80%;
}
/*promociones*/


.ubicacion-mapa {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.map {
    max-width: 85%;
    margin: 0 auto;
    border: 2px solid #444;
}
.map > iframe{
    width: 100%;
}
.direccion {
    margin: auto;
    max-width: 85%;
    background-color: #222;
    color: #fff;
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}


.h2-contact {
    margin: 25px auto;
    text-align: center;
}

.contact-info {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}
.contact-info > div {
  min-width: 150px;
  min-height: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info img {
    width: 50px;
    margin: 5px;
    vertical-align: middle;
    filter: invert(1);
}
.contact-info > div > a {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 2px;
    padding: 4px;
}

#whatsapp-share, .whatsapp-share {
  background-color: #25D366;
}
#facebook-share, .facebook-share {
  background-color: #3b5998;
}
.instagram-share {
  background-color: #E1306C;
}
#twitter-share, .twitter-share {
  background-color: #1DA1F2;
}
.phone-share {
  background-color: #4285F4;
}
.tiktok-share {
    background-color: #000000;
}
/*Contacto*/
footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
footer > p {
    color: #fff;
}
footer > a {
    color: #fff
}footer > a > b {
    color: #F00
}


/* #modal {
    position: relative;
}
#imageContainer {
    background-color: red;
    display: flex;
    overflow: hidden;
    width: 300;
    height: 350px;
    background-size: cover;
    background-position: center;
    transition: background .3s;
    position: relative;
}#imageContainer > div {
    min-width: 100%;
    min-height: 100%;
}#imageContainer > div > img {
    width: 100%;
    height: 100%;
}#imageContainer > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}#dotsContainer {
    text-align: center;
}
#modal > button{
    padding:  10px 15px;
    border-radius: 10px;
    border: none;
    color: #fff;
    transform: scale(1);
    transition: transform .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    background-color: #00000067;
}#modal > button:active {
    transform: scale(0.9);
}
#prevButton {
    border: 2px solid #fff;
    
}#nextButton {
    border: 2px solid #fff;
    right: 0;
}
#dotsContainer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    background-color: #cfcfcfdd;
    border-radius: 20px;
    width: 200px;
    margin-bottom: 10px;
}
.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #999;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background .6s;
}

.active { 
    background-color: #333;
} */

